<div class='row'>
    <div class='col-xs-12'>
      <button class='btn btn-default' (click)='onShowSecret()'>Display Details</button>
    </div>
 </div>
 <div class='row' *ngIf="showSecret">
    <div class='col-xs-12'>
        <p>Secret Password = 'bigtuna'</p>
    </div>
</div>
<div class="row" 
    *ngFor='let log of logs'
    [ngStyle]="{backgroundColor: log.Id >= 5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': log.Id >= 5}"
    >
    {{log.Id}}: Secret was access at {{log.time}}
</div>